<h2>CONTACTS</h2>

<nz-table #editRowTable [nzData]="dataSource">
  <thead>
  <tr>
    <th>No.</th>
    <th>Name</th>
    <th>Title</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Address</th>
    <th>City</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of editRowTable.data">
      <td>{{data.id ? data.id : ''}}</td>
      <td>{{data.name ? data.name : ''}}</td>
      <td>{{data.title ? data.title : ''}}</td>
      <td>{{data.email ? data.email : ''}}</td>
      <td>{{data.phone ? data.phone : ''}}</td>
      <td>{{data.address ? data.address : ''}}</td>
      <td>{{data.city ? data.city : ''}}</td>
      <td>
        <a (click)="updateContact(data)"><i nz-icon nzType="edit" nzTheme="outline"></i></a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="deleteContact(data.id)" style="color: crimson"><i nz-icon nzType="delete" nzTheme="outline"></i></a>
      </td>
  </tr>
  </tbody>
</nz-table>

<hr>

<h2>ADD NEW</h2>

<form nz-form [formGroup]="contactForm" (ngSubmit)="createContact(contactForm)">
  <nz-row [nzGutter]="24">
    <nz-col [nzSpan]="12" style="padding-bottom: 10px">
      <nz-input-group nzPrefixIcon="user">
        <input nz-input type="text" id="name" name="name" formControlName="name" placeholder="Name" [(ngModel)]="nameInput" required>
      </nz-input-group>
    </nz-col>
    <nz-col [nzSpan]="12" style="padding-bottom: 10px">
      <nz-input-group nzPrefixIcon="contacts">
        <input nz-input type="text" id="title" name="title" formControlName="title" placeholder="Title" [(ngModel)]="titleInput" required>
      </nz-input-group>
    </nz-col>
    <nz-col [nzSpan]="12" style="padding-bottom: 10px">
      <nz-input-group nzPrefixIcon="mail">
        <input nz-input type="text" id="email" name="email" formControlName="email" placeholder="E-mail" [(ngModel)]="emailInput" required>
      </nz-input-group>
    </nz-col>
    <nz-col [nzSpan]="12" style="padding-bottom: 10px">
      <nz-input-group nzPrefixIcon="phone">
        <input nz-input type="text" id="phone" name="phone" formControlName="phone" placeholder="Phone" [(ngModel)]="phoneInput" required>
      </nz-input-group>
    </nz-col>
    <nz-col [nzSpan]="12" style="padding-bottom: 10px">
      <nz-input-group nzPrefixIcon="home">
        <input nz-input type="text" id="address" name="address" formControlName="address" placeholder="Address"
               [(ngModel)]="addressInput" required>
      </nz-input-group>
    </nz-col>
    <nz-col [nzSpan]="12" style="padding-bottom: 10px">
      <nz-input-group nzPrefixIcon="pushpin">
        <input nz-input type="text" id="city" name="city" formControlName="city" placeholder="City" [(ngModel)]="cityInput" required>
      </nz-input-group>
    </nz-col>
  </nz-row>
  <nz-row>
    <nz-form-item>
      <nz-form-control>
        <button type="submit" nz-button nzType="primary" nzSize="large">Save</button>
      </nz-form-control>
    </nz-form-item>
  </nz-row>
</form>
